#header .opener-icons:hover{background:#e0dfdf;}
#header .header-top a:hover{color:#72cbf5f1;}
#header .head-socialnetworks a:hover{color:#72cbf5f1;}
#nav a:hover{color:#72cbf5f1;}
#nav li:hover > a, #nav li.active > a{color:#72cbf5f1;}
#nav .nav-opener:hover{background:#72cbf5f1;border-color:#72cbf5f1;}
.side-widget h3:after{background:#72cbf5f1;}
.side-widget a:hover{color:#72cbf5f1;}
.side-widget .btn{background:#72cbf5f1;border-color:#72cbf5f1;}
.btn-f-info{background:#72cbf5f1;border-color:#72cbf5f1;}
.btn-more:hover{background:#72cbf5f1;border-color:#72cbf5f1;}
.page-banner .heading:before{background:#72cbf5f1;}
.page-banner .breadcrumbs a:hover{color:#72cbf5f1;}
.page-banner.grey .breadcrumbs a:hover{color:#72cbf5f1;}
.f-iconbox .icon{color:#72cbf5f1;border-color:#f9fafa81;}
.f-iconbox:hover .icon{background:transparent;}
.progress-holder .text, #work-filter li a:hover{background:#08080878;}
.isotop-controls li.active a{background:#72cbf5f1;}
.isotop-controls a:hover{background:#72cbf5f1;}
.portfolio-block .over .plus{color:#72cbf5f1;}
.portfolio-block .title:after{background:#72cbf5f1;}
.portfolio-block .link{background:#72cbf5f1;color:#fff;opacity:.7;}
.process-section .icon .num{background:#72cbf5f1;}
.progress-holder .progress-bar-outer{background:#72cbf5f1;}
.core-section .list li:after{color:#72cbf5f1;}
.contact-address h3 .fa{color:#72cbf5f1;}
.contact-address a:hover{color:#72cbf5f1;}
#style-changer .list-style .btn2{background:#72cbf5f1;border-color:#72cbf5f1;}
#style-changer .list-style .btn2.add:hover{background:#72cbf5f1;border-color:#72cbf5f1;}
#style-changer .changer-opener{color:#72cbf5f1;}
#gotoTop:hover, .footer-social a:hover{background:#72cbf5f1;}
.contact-form2 .btn-f-info{color:#72cbf5f1;}
#header.style15 .opener-icons:hover{color:#fff;}
.port-single ul .fa{color:#72cbf5f1;}
#header.fixed-position #nav .nav-top > li:hover > a, #header.fixed-position #nav .nav-top > li.hover > a, #header.fixed-position #nav .nav-top > li.active > a{color:#72cbf5f1;}
#header.fixed-position #nav .nav-top > li > a:hover{color:#72cbf5f1;}
.dark .heading h2{color:#fff;}
.heading:after{background:#72cbf5f1;}
.error-section h1{color:#72cbf5f1;}
.facts-section .num::after{background:#72cbf5f1;}
.devisInfos a span, .devisInfosContact a span{color:#72cbf5f1;}
.list-tags a{color:#fff;background:#72cbf5f1;}
.list-tags a:hover{color:#fff !important;background:#08080878;}
.price-section .price:after, .price-section.style2 .box .heading:after{background:#72cbf5f1;}
.price-section .btn, .price-section.style2 .box.active .btn, .price-section.style2 .box:hover .btn{background:#72cbf5f1;}
.col-icon{color:#72cbf5f1;}
.portfolio-block .text-box h4::before { background: #72cbf5f1; }

.txt-formation{
  color: #0c0c0ccc; 
}
.block-console-input{
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.keyword-print{
  color: #61aeee;
}
.keyword-input{
 color: #e06c75
}
.keyword-loop{
  color: #c678dd;
}
#keyword-name{
  color: #abb2bf;
}
.console-line{
  background-color: #000;
}
.code-input {
  color: #98c379;
}

#formation-active {
  color: #000;
  background-color: #98c379;
  font-weight: bold;
  cursor: pointer;
}
.box-execise{
  padding: 2rem;
  border-top: 0.4rem solid  rgb(167, 170, 172);
  border-bottom: 0.4rem solid rgb(167, 170, 172);
  background: rgb(235, 245, 251);
}